<% include ../partials/header %>

<div class="row">
	<div class="col-md-4">
		<h1>
			<%=user.firstName + " " + user.lastName %>
		</h1>
		<div class="thumbnail">
			<img scr="<%=user.avatar %>" alt="user profile image">
		</div>
	</div>
	
	<div class="col-md-4">
		Camping as a recreational activity became popular among elites in the early 20th century. With time, it grew more democratic, and varied. Modern campers frequent publicly owned natural resources such as national and state parks, wilderness areas, and commercial campgrounds. Camping is a key part of many youth organizations around the world, such as Scouting, which use it to teach both self-reliance and teamwork.
	</div>
	
	<div class="col-md-8">
		<h3>
			<%= user.username%>'s campgrounds
		</h3>
		<ul>
			<% campgrounds.forEach(function(campground){ %>
			<li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
		<% }) %>
		</ul>
		
	</div>
	
</div>

<% include ../partials/footer %>